<div class="flex-center">
  <div>
    <section class="example-section" [formGroup]="todoForm">
      <p>
        <mat-checkbox
          formControlName="todoComplete"
          (change)="onCompleteCheck($event)"
        ></mat-checkbox>
      </p>
    </section>
  </div>
  <div
    [formGroup]="todoForm"
    [ngClass]="todo.IsComplete ? 'todo-complete' : 'todo-incomplete'"
  >
    <input matInput formControlName="TaskName" />
  </div>
  <section>
    <button mat-button (click)="deleteTask(todo.Id)" mat-button color="accent">
      <mat-icon>delete</mat-icon>
    </button>
  </section>
  <section>
    <button mat-button (click)="updateTask(todo.Id)" mat-button color="accent">
      <mat-icon>edit</mat-icon>
    </button>
  </section>
</div>
